* {
   margin: 0px;
   padding: 0px;
   font-family: 'Open Sans', sans-serif;
}

.page-image {
   background-image: url('./images/banner/banner2.png');
   height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: end;
}

.page-banner {
   text-align: right;
   width: 40%;
   margin-right: 200px;
}

.page-title {
   font-size: 50px;
   font-weight: 800;
}

.page-description {
   font-size: 18px;
   font-weight: normal;
}

.btn-primary {
   padding: 10px 15px;
   border-radius: 6px;
   outline: none;
   border: none;
   background-color: orangered;
   font-size: 16px;
   font-weight: 600;
   color: white;
   margin-top: 16px;
}

/* 2 part stactuer  */
.stactuer {
   text-align: center;
   font-weight: 600px;
   font-size: 15px;

}

.ul-stactuer {
   font-weight: 400px;
   font-size: 13px;
   color: darkgray
}

.stactuer-title {
   display: flex;
   align-items: center;
   margin: 0px 200px;


}

.stectuer-sub-tiitle {
   font-size: 30px;
   margin: 20px;

}

.stectuer-p {
   font-size: 17px;
   margin: 10px;
   color: darkgray
}

.icon {
   text-align: center;
   font-size: 30px;
   margin: 110px;
}

.icon-style {}

.skills-container {
   display: flex;
   gap: 150px;
   margin: 150px 200px;
}

.skill {}

.skill-description {
   color: darkgrey;
   font-size: 15px;
}

/* gradient-icon  */
.gradient-box {
   height: 180px;
   width: 1000px;
   text-align: center;
   display: block;
   background-image: url(./images/gradient3.png), url(./images/watch.png);
   color: aliceblue;
   margin: 200px;
   border-radius: 5px;
}

.text-box {
   padding-top: 30px;
   margin-right: 600px;
   font-size: 30px;
   margin-left: 30px;
}

/* button  */
.btn-box {
   padding-top: 10px;
   margin-right: 600px;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   font-size: 20px;
   color: chocolate;
   margin-top: 12px;
   cursor: pointer;

}

/* footer end file  */
.the-end {
   height: 100vh;
   background-color: darkred;

}

.end-title {
   display: flex;

}

.end-sub-title {
   margin: 90px;
   gap: 20px;
}

.future {
   margin-bottom: 30px;
   color: aliceblue;
}

.sub-future {
   margin-bottom: 20px;
   color: aliceblue;
}

.icon-end {
   gap: 150px;

}


/* aminul */
.container {
   width: 100%;
}

.main-content {
   padding: 0 120px;
   display: flex;
   align-items: center;
   gap: 100px;
}

.container-image {
   width: 40%;
}

.container-right {
   width: 40%;
}
.heading{
   margin-bottom: 20px;
}
.item-container{
   margin-top: 30px;
}
.single-item{
   display: flex;
   gap: 4px;
   margin: 7px 0;
}
.svg-icon{
   width: 18px;
   color: green;
}